@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.833);
  z-index: 1;
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05rem;
  .started-btn {
    background-color: #1ce762;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 18px 12px 18px;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: #1ce762;
  }
}
.offcanvasnav {
  display: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05rem;
  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .bar {
    width: 30px;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
    transition: transform 0.2s ease;
  }

  // .open .bar:first-child {
  //   transform: translateY(10px) rotate(45deg);
  // }

  // .open .bar:last-child {
  //   transform: translateY(-10px) rotate(-45deg);
  // }

  // .open .bar:nth-child(2) {
  //   opacity: 0;
  // }

  .offcanvas {
    width: 70%;
    // background-color: #90b7dc;
  }
}
.hero {
  padding-top: 90px;
  padding-bottom: 90px;
  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #4ea4f3;
  }
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: 30px;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    text-transform: uppercase;
    color: #1171f0;
  }
  .learn-btn {
    background-color: #1ce762;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 18px 12px 18px;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: #1ce762;
  }
}
.BestExp {
  padding-top: 50px;
  padding-bottom: 60px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .learn-btn {
    background-color: #1ce762;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 18px 12px 18px;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: #1ce762;
  }
}
.ourservices {
  background: linear-gradient(180deg, #e5f3fa 0%, rgba(171, 167, 167, 0) 100%);
  padding-bottom: 70px;
  h1 {
    padding-top: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 24px;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    margin-bottom: 10px;
    h5 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: #444444;
    }
  }
}
.winning-manager {
  padding-top: 50px;
  .img-fluid {
    position: relative;
  }
  .star {
    position: absolute;
    margin-top: -100px;
  }
  .award {
    position: absolute;
    margin-top: -110px;
  }
  h1 {
    font-family: "Poppins";
    font-style: normal;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    span {
      font-family: "Poppins";
      font-style: normal;
      color: #848181;
    }
  }
}
.manager-cards {
  background: rgba(241, 248, 251, 0.95);
  margin-top: -30px;
  padding-bottom: 80px;
  .row {
    padding-top: 70px;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 4px 30px #d5ddef;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
  }
}
.corevalue {
  padding-top: 120px;
  padding-bottom: 160px;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    border: none;
    padding-top: 60px;
  }
  .core {
    margin-top: -70px;
    margin-left: 30px;
    position: absolute;
  }
  .rectangle {
    position: relative;
    margin-top: 90px;
    display: block;
  }
  .card-1 {
    margin-top: -60px;
  }
  .card-2 {
    margin-top: -110px;
  }
  .card-3 {
    margin-bottom: -70px;
  }
  .card-4 {
    margin-top: -40px;
  }
  .col-md-6 {
    background: #d1e7ff;
    height: auto;
  }
}
.newletters {
  // background-color: #d1e7ff;
  padding-top: 30px;
  padding-bottom: 50px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
  }
  p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #4b4444;
  }
  .flow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    // background-color: #d1e7ff;
    border: none;
  }
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    transition: opacity 0.3s ease;
  }
  .logo {
    width: 40px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .card:hover .text {
    opacity: 0;
  }
  .card:hover .logo {
    opacity: 1;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #d1e7ff;
  h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05rem;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.05rem;
    line-height: 25px;
  }
  li {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05rem;
  }
}
.chooseus {
  padding-top: 50px;
  padding-bottom: 50px;
  .card {
    border: none;
    background-color: #d1e7ff;
  }
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .vr {
    margin-top: 20px;
    height: 70px;
  }
  .card-bg {
    background-color: #d1e7ff;
  }
  h1 {
    padding-top: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
  }
  p {
    padding-top: 30px;
    font-family: "Poppins";
    font-style: normal;

    font-size: 18px;
    line-height: 24px;
  }
}
.aboutus {
  padding-top: 120px;
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    color: #1171f0;
  }
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 30px;
    color: #000000;
  }
}
.tech {
  padding-bottom: 60px;
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  span {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 30px;
    color: #000000;
  }
}
.contactus {
  background-image: url("Media/World\ Map.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 50px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0.05rem;
    line-height: 25px;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.05rem;
    font-weight: 500;
    line-height: 25px;
    color: #1171f0;
  }
  .send {
    background-color: #1ce762;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 18px 12px 18px;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: #1ce762;
    width: 30%;
  }
  label {
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05rem;
    font-weight: 500;
    line-height: 25px;
  }
  input {
    font-family: "Poppins";
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.05rem;
    font-weight: 500;
    line-height: 25px;
  }
  .card {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(194, 194, 194, 0.2);
    padding: 30px;
    border: none;
  }
}
.collaborate {
  box-shadow: 0 15px 25px rgba(198, 198, 198, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  background-color: rgba(207, 205, 205, 0.2);
  padding: 30px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.05rem;
    line-height: 50px;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05rem;
    font-weight: 500;
    line-height: 40px;
    color: #1171f0;
  }
  .letstalk {
    background-color: #1ce762;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 18px 12px 18px;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: #1ce762;
  }
}
.privacy {
  padding-top: 130px;
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.05rem;
    line-height: 50px;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.05rem;
    line-height: 25px;
  }
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05rem;
    line-height: 50px;
  }
  li {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.05rem;
    line-height: 25px;
  }
}
.career {
  padding-top: 160px;
  padding-bottom: 120px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05rem;
    line-height: 40px;
  }
  span {
    color: #1171f0;
    font-weight: 600;
  }
  p {
    padding-left: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.05rem;
    line-height: 25px;
  }
}
.perks {
  background-color: #d1e7ff;
  padding-top: 50px;
  padding-bottom: 30px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05rem;
    line-height: 40px;
    font-weight: 500;
  }
  ul {
    list-style: circle;
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05rem;
    line-height: 40px;
    font-weight: 500;
  }
}
.position {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05rem;
    line-height: 40px;
    font-weight: 500;
    padding-left: 30px;
  }
  h5 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.05rem;
    line-height: 40px;
    font-weight: 500;
    padding-left: 30px;
    color: #848181;
  }
  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.05rem;
    line-height: 40px;
    font-weight: 500;
    padding-left: 30px;
    color: black;
  }
}
.clients{
  padding-top: 120px;
  h6{
    font-family: "Poppins";
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05rem;
    line-height: 40px;
    font-weight: 500;
    padding-left: 30px;
  }
  .img-fluid{
    border-radius: 5px;
  }
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 30px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 45px;
    letter-spacing: 0.05rem;
    line-height: 50px;
    font-weight: 500;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.04rem;
    line-height: 25px;
  }

  .Counter{
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 5px;
    span {
      font-family: "Poppins";
      font-style: normal;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 0.04rem;
      line-height: 50px;
    }
    p{
      font-family: "Poppins";
      font-style: normal;
      font-size: 14px;
      letter-spacing: 0.04rem;
      font-weight: 600;
      line-height: 25px;
    }
  }
}
@media screen and (max-width: 786px) {
  .header {
    display: none;
  }
  .offcanvasnav {
    display: block;
  }
  .hero {
    h1 {
      font-size: 38px;
    }
    span {
      font-size: 38px;
    }
  }
  .ourservices {
    .card {
      height: auto;
    }
  }
  .winning-manager {
    .award {
      margin-top: 0px;
    }
  }
  .manager-cards {
    .row {
      padding-top: 150px;
    }
  }
  .corevalue {
    margin-top: 50px;
    .card {
      margin-bottom: 9px;
    }
    .card-1 {
      margin-top: 0px;
    }
    .card-2 {
      margin-top: 0px;
    }
    .card-4 {
      margin-top: 0px;
    }
    .col-md-6 {
      height: auto;
    }
    .core {
      margin-top: -160px;
      margin-left: 30px;
      position: absolute;
    }
    .rectangle {
      display: none;
    }
  }
}
